html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    /* background-color: #f5f5f5; */
    /* border-top: 1px solid #ddd; */
    padding-top: 20px;
    color: #222;
}



.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.ba-photo{
    margin-left: 5px;
    /* border: .5px solid #fff; */
    /* border-radius: 10px; */
      transition: all 5s;
}

.search{
    background: #FAAF16;
}

.photo-view{
    background: #fff;
    border-radius: 20px;
    padding-bottom: 20px;
}
.ba-photo:hover{
    /* width:125px; */
    border: 5px solid yellow;
    border-radius: 50px;
    transition: all .5s;
    opacity: .9;
}


.ba-photosidebar{
    /* margin-left: 5px; */
    /* border: 1px solid #fff; */
    border-radius: 10px;
      transition: all .3s;
    opacity: 0.8;
}
.ba-photosidebar:hover{
    /* width:285px; */
    opacity: 1;
    border-radius: 10px;
    transition: all .3s;
}

.slide img{
    margin: 0 auto;
    border-radius:10%;
    opacity: .9;
     transition: all .5s;
     width: 500px !important;
     height: 500px !important;
}
.slide:hover{
    opacity: 1;
     transition: all .5s;
}
.top-photo {
    padding-left:120px ;
    padding-right:100px ;
    transition: all .3s;
    text-decoration: none;
    border-radius:25%;
}
.top-photo a:hover{
    text-decoration: none;
}
.top-photo:hover{
    border-radius:30%;
    transition: all .3s;
    text-decoration: none;
}

.text-index{
    color: #222;
}

.carousel-control{
margin: 0px 140px 7px 140px;
border-radius:60px;
height: 84%;

background-image: $fff !important;
opacity: .1;
  }

.navbar-fixed-top{
    background: #FAAF16;
    opacity: .7;
}

.navbar-fixed-top a{
    color: #222;
}

.nav>li>a:hover{
    background: #D79C25;
    color: #FFF;
     opacity: 1;
}

.btn-link{
    color: #222;
    background: #FAAF16;
    opacity: .7;
    font-weight: 700;
}

.btn-link:hover{
    background-color: #D79C25;
    color: #FFF;
    opacity: 1;
}

.icon-bar{
    background-color: #FFF;
}

.rating-container .caption {
    width: 150px;
}

.hello{
    background:url(../assets/datefinder.png)50% 50%;
    background-size:cover;
    padding-top: 0px;
    padding-bottom: 800px;
}

.hello-title{
    font-size: 80px;
}

.carousel-indicators{
    bottom: 100px;
}

/* .breadcrumb{
    background: #FBBF16;
} */

body{margin-top:20px;
background:#FAAF16;
}

.profile-widget {
  position: relative;
}
.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0 10px;
}
.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto;
}
.profile-widget .image-container .avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block;
}
.profile-widget .image-container .avatar:hover{
    border:2px solid #D56518;;
    transition: all .3s;
}
.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center;
}

/* Component: Mini Profile Widget */
.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  padding: 4px;
  border: 1px solid #dddddd;
}
.mini-profile-widget .details {
  text-align: center;
}

/* Component: Panel */
.panel {
  border-radius: 0;
  margin-bottom: 30px;
}
.panel.solid-color {
  color: white;
}
.panel .panel-heading {
  border-radius: 0;
  position: relative;
}
.panel .panel-heading > .controls {
  position: absolute;
  right: 10px;
  top: 12px;
}
.panel .panel-heading > .controls .nav.nav-pills {
  margin: -8px 0 0 0;
}
.panel .panel-heading > .controls .nav.nav-pills li a {
  padding: 5px 8px;
}
.panel .panel-heading .clickable {
  margin-top: 0px;
  font-size: 12px;
  cursor: pointer;
}
.panel .panel-heading.no-heading-border {
  border-bottom-color: transparent;
}
.panel .panel-heading .left {
  float: left;
}
.panel .panel-heading .right {
  float: right;
}
.panel .panel-title {
  font-size: 16px;
  line-height: 20px;
}
.panel .panel-title.panel-title-sm {
  font-size: 18px;
  line-height: 28px;
}
.panel .panel-title.panel-title-lg {
  font-size: 24px;
  line-height: 34px;
}
.panel .panel-body {
  font-size: 13px;
}
.panel .panel-body > .body-section {
  margin: 0px 0px 20px;
}
.panel .panel-body > .body-section > .section-heading {
  margin: 0px 0px 5px;
  font-weight: bold;
}
.panel .panel-body > .body-section > .section-content {
  margin: 0px 0px 10px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white > .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.panel-primary {
  border: 1px solid #dddddd;
}
.panel-purple {
  border: 1px solid #dddddd;
}
.panel-purple > .panel-heading {
  color: #fff;
  background-color: #8e44ad;
  border: none;
}
.panel-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-purple {
  border: 1px solid #dddddd;
}
.panel-light-purple > .panel-heading {
  color: #fff;
  background-color: #9b59b6;
  border: none;
}
.panel-light-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-blue,
.panel-info {
  border: 1px solid #dddddd;
}
.panel-blue > .panel-heading,
.panel-info > .panel-heading {
  color: #fff;
  background-color: #2980b9;
  border: none;
}
.panel-blue > .panel-heading .panel-title a:hover,
.panel-info > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-blue {
  border: 1px solid #dddddd;
}
.panel-light-blue > .panel-heading {
  color: #fff;
  background-color: #3498db;
  border: none;
}
.panel-light-blue > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-green,
.panel-success {
  border: 1px solid #dddddd;
}
.panel-green > .panel-heading,
.panel-success > .panel-heading {
  color: #fff;
  background-color: #27ae60;
  border: none;
}
.panel-green > .panel-heading .panel-title a:hover,
.panel-success > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-green {
  border: 1px solid #dddddd;
}
.panel-light-green > .panel-heading {
  color: #fff;
  background-color: #2ecc71;
  border: none;
}
.panel-light-green > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-orange,
.panel-warning {
  border: 1px solid #dddddd;
}
.panel-orange > .panel-heading,
.panel-warning > .panel-heading {
  color: #fff;
  background-color: #e82c0c;
  border: none;
}
.panel-orange > .panel-heading .panel-title a:hover,
.panel-warning > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-orange {
  border: 1px solid #dddddd;
}
.panel-light-orange > .panel-heading {
  color: #fff;
  background-color: #ff530d;
  border: none;
}
.panel-light-orange > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-red,
.panel-danger {
  border: 1px solid #dddddd;
}
.panel-red > .panel-heading,
.panel-danger > .panel-heading {
  color: #fff;
  background-color: #d40d12;
  border: none;
}
.panel-red > .panel-heading .panel-title a:hover,
.panel-danger > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-red {
  border: 1px solid #dddddd;
}
.panel-light-red > .panel-heading {
  color: #fff;
  background-color: #ff1d23;
  border: none;
}
.panel-light-red > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-pink {
  border: 1px solid #dddddd;
}
.panel-pink > .panel-heading {
  color: #fff;
  background-color: #fe31ab;
  border: none;
}
.panel-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-pink {
  border: 1px solid #dddddd;
}
.panel-light-pink > .panel-heading {
  color: #fff;
  background-color: #fd32c0;
  border: none;
}
.panel-light-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
  border-top: 0;
}

.bg-blue,
.bg-info {
  background-color: #2980b9 !important;
}
.bg-light-blue {
  background-color: #3498db !important;
}
.bg-red,
.bg-danger {
  background-color: #d40d12 !important;
}
.bg-light-red {
  background-color: #ff1d23 !important;
}
.bg-purple {
  background-color: #8e44ad !important;
}
.bg-light-purple {
  background-color: #9b59b6 !important;
}
.bg-green,
bg-success {
  background-color: #27ae60 !important;
}
.bg-light-green {
  background-color: #2ecc71 !important;
}
.bg-orange,
.bg-warning {
  background-color: #e82c0c !important;
}
.bg-light-orange {
  background-color: #ff530d !important;
}
.bg-pink {
  background-color: #fe31ab !important;
}
.bg-light-pink {
  background-color: #fd32c0 !important;
}
.color-white {
  color: white !important;
}
.color-green,
.text-success {
  color: #27ae60 !important;
}
.color-light-green {
  color: #2ecc71 !important;
}
.color-blue,
.text-info {
  color: #2980b9 !important;
}
.color-light-blue {
  color: #3498db !important;
}
.color-orange,
.text-warning {
  color: #e82c0c !important;
}
.color-light-orange {
  color: #ff530d !important;
}
.color-red,
.text-danger {
  color: #d40d12 !important;
}
.color-light-red {
  color: #ff1d23 !important;
}
.color-purple {
  color: #8e44ad !important;
}
.color-light-purple {
  color: #9b59b6 !important;
}
.color-pink {
  color: #fe31ab !important;
}
.color-light-pink {
  color: #fd32c0 !important;
}
.border-green {
  border: 4px solid #27ae60 !important;
}
.border-light-green {
  border: 4px solid #2ecc71 !important;
}
.border-blue {
  border: 4px solid #2980b9 !important;
}
.border-light-blue {
  border: 4px solid #3498db !important;
}
.border-orange {
  border: 4px solid #e82c0c !important;
}
.border-light-orange {
  border: 4px solid #ff530d !important;
}
.border-red {
  border: 4px solid #d40d12 !important;
}
.border-light-red {
  border: 4px solid #ff1d23 !important;
}
.border-purple {
  border: 4px solid #8e44ad !important;
}
.border-light-purple {
  border: 4px solid #9b59b6 !important;
}
.border-pink {
  border: 4px solid #fe31ab !important;
}
.border-light-pink {
  border: 4px solid #fd32c0 !important;
}
.border-top-green {
  border-top: 4px solid #27ae60 !important;
}
.border-top-light-green {
  border-top: 4px solid #2ecc71 !important;
}
.border-top-blue {
  border-top: 4px solid #2980b9 !important;
}
.border-top-light-blue {
  border-top: 4px solid #3498db !important;
}
.border-top-orange {
  border-top: 4px solid #e82c0c !important;
}
.border-top-light-orange {
  border-top: 4px solid #ff530d !important;
}
.border-top-red {
  border-top: 4px solid #d40d12 !important;
}
.border-top-light-red {
  border-top: 4px solid #ff1d23 !important;
}
.border-top-purple {
  border-top: 4px solid #8e44ad !important;
}
.border-top-light-purple {
  border-top: 4px solid #9b59b6 !important;
}
.border-top-pink {
  border-top: 4px solid #fe31ab !important;
}
.border-top-light-pink {
  border-top: 4px solid #fd32c0 !important;
}
.border-right-green {
  border-right: 4px solid #27ae60 !important;
}
.border-right-light-green {
  border-right: 4px solid #2ecc71 !important;
}
.border-right-blue {
  border-right: 4px solid #2980b9 !important;
}
.border-right-light-blue {
  border-right: 4px solid #3498db !important;
}
.border-right-orange {
  border-right: 4px solid #e82c0c !important;
}
.border-right-light-orange {
  border-right: 4px solid #ff530d !important;
}
.border-right-red {
  border-right: 4px solid #d40d12 !important;
}
.border-right-light-red {
  border-right: 4px solid #ff1d23 !important;
}
.border-right-purple {
  border-right: 4px solid #8e44ad !important;
}
.border-right-light-purple {
  border-right: 4px solid #9b59b6 !important;
}
.border-right-pink {
  border-right: 4px solid #fe31ab !important;
}
.border-right-light-pink {
  border-right: 4px solid #fd32c0 !important;
}
.border-bottom-green {
  border-bottom: 4px solid #27ae60 !important;
}
.border-bottom-light-green {
  border-bottom: 4px solid #2ecc71 !important;
}
.border-bottom-blue {
  border-bottom: 4px solid #2980b9 !important;
}
.border-bottom-light-blue {
  border-bottom: 4px solid #3498db !important;
}
.border-bottom-orange {
  border-bottom: 4px solid #e82c0c !important;
}
.border-bottom-light-orange {
  border-bottom: 4px solid #ff530d !important;
}
.border-bottom-red {
  border-bottom: 4px solid #d40d12 !important;
}
.border-bottom-light-red {
  border-bottom: 4px solid #ff1d23 !important;
}
.border-bottom-purple {
  border-bottom: 4px solid #8e44ad !important;
}
.border-bottom-light-purple {
  border-bottom: 4px solid #9b59b6 !important;
}
.border-bottom-pink {
  border-bottom: 4px solid #fe31ab !important;
}
.border-bottom-light-pink {
  border-bottom: 4px solid #fd32c0 !important;
}
.border-left-green {
  border-left: 4px solid #27ae60 !important;
}
.border-left-light-green {
  border-left: 4px solid #2ecc71 !important;
}
.border-left-blue {
  border-left: 4px solid #2980b9 !important;
}
.border-left-light-blue {
  border-left: 4px solid #3498db !important;
}
.border-left-orange {
  border-left: 4px solid #e82c0c !important;
}
.border-left-light-orange {
  border-left: 4px solid #ff530d !important;
}
.border-left-red {
  border-left: 4px solid #d40d12 !important;
}
.border-left-light-red {
  border-left: 4px solid #ff1d23 !important;
}
.border-left-purple {
  border-left: 4px solid #8e44ad !important;
}
.border-left-light-purple {
  border-left: 4px solid #9b59b6 !important;
}
.border-left-pink {
  border-left: 4px solid #fe31ab !important;
}
.border-left-light-pink {
  border-left: 4px solid #fd32c0 !important;
}
.bg2 {
  background-image: url('http://lorempixel.com/1024/768/nature/');


}




.btn-blue {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
}
.btn-blue:hover,
.btn-blue:visited {
  background-color: #2980b9;
  color: white;
}
.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white;
    margin-left: 300px !important;

}

@media screen and (max-width: 700px) {
    .btn-green {
        margin-left:200px !important;
    }
}
@media screen and (max-width: 500px) {
    .btn-green {
        margin-left:100px !important;
    }
}

@media screen and (max-width: 300px) {
    .btn-green {
        margin-left:20px !important;
    }
}

.btn-green:hover,
.btn-green:visited {
  background-color: #27ae60;
  color: white;
}
.btn-orange {
  background-color: #ff530d;
  border-color: #e82c0c;
  color: white;
}
.btn-orange:hover,
.btn-orange:visited {
  background-color: #e82c0c;
  color: white;
}
.btn-red {
  background-color: #ff1d23;
  border-color: #d40d12;
  color: white;
}
.btn-red:hover,
.btn-red:visited {
  background-color: #d40d12;
  color: white;
}
.btn-purple {
  background-color: #9b59b6;
  border-color: #8e44ad;
  color: white;
}
.btn-purple:hover,
.btn-purple:visited {
  background-color: #8e44ad;
  color: white;
}
.btn-pink {
  background-color: #fd32c0;
  border-color: #fe31ab;
  color: white;
}
.btn-pink:hover,
.btn-pink:visited {
  background-color: #fe31ab;
  color: white;
}

.progress.progress-xs {
    height: 12px;
}
